# Settings for the {{ standalone_service }} daemon.
# {{ standalone_service|upper }}_ARGS= :  any extra command-line startup arguments for {{ standalone_service }}
{{ standalone_service|upper }}_ARGS=